main{
    flex-grow: 1;
    display: flex;
    font-family: 'Mulish', sans-serif;
}

.content-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.content-container h1{
    color: #FFF;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 8rem;
    line-height: 4.5rem;
}
.content-container h1 span{
    font-size: 2.5rem;
    font-weight: 200;
}

.movie-title{
    color: var(--accent-color);
    font-size: 3rem;
    font-weight: 100;
    font-style: italic;
}

.movie-text{
    width: 600px;
    font-size: 1.1rem;
    font-weight: 200;
    color: #FFF;
}

.button{
    height: 80px;
    width: 300px;
    background-color: var(--accent-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
}

.social-container ul{
    width: 48px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.social-container a{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all 500ms;
}
.social-container a:hover{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.social-container i{
    font-size: 1.5rem;
}

