main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.img-container{
    display: flex;
    gap: 74px;
}

.image{
    border: 4px solid black;
}

@media (max-width: 768px){
    main{
        gap: 16px;
    }

    .img-container{
        gap: 36px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .image{
        width: 124px;
    }
}