main{
    flex-grow: 1;
    display: flex;
    font-family: 'Mulish', sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 112px;
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container{
    font-size: 1.4rem;
}

.text-rectangle{
    width: 96%;
}

.img-container{
    border: 2px solid var(--accent-color);
}

.button{
    height: 72px;
    width: 300px;
    font-size: 1.2rem;
    background-color: var(--accent-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

/* @media (max-width: 768px){
    main{
        flex-direction: column;
        gap: 20px;
    }

    .text-container{
        font-size: 1rem;
    }

    .text-rectangle{
        width: 60%;
    }

    .button{
        display: none;
    }
} */