main{
    display: flex;
    flex-grow: 1;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

iframe{
    border: 5px solid #ff0318ab;
}

@media (max-width:768px){
    main{
        flex-direction: column;
        gap: 32px;
    }

    iframe{
        width: 380px;
        height: 250px;
    }
}